!Build/
.last_cover_stats
#/META.yml
#/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# Documents
/doc/*/
/doc/*.html
/doc/*.css

# Sources
/lib/_*
/src/
/t/_*
/xt/_*

# Komodo IDE
*.komodoproject
/.komodotools/

# VS Code
/.vscode/
*.code-workspace

# Devel
/trial/
